{% extends 'base.html' %}
{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
       Esta aplicacion es para recordar a las personas olvidadizas (como yo ) a recordar el momento de realizar sus actividades academicas. Podras crear las tareas que quieras :)
    <div class="text-center">
        <a class="btn btn-secondary" href="/signin/">
            Signin
        </a>
        <a class="btn btn-dark" href="/signup/">
            Singnup
        </a>
    </div>
    </section>
</main>
{% endblock %}